<div [@routerTransition]>
    <h2>Top up User</h2>
    <app-page-header [heading]="'add-user'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">
            <form role="form">


                <fieldset class="form-group">
                    <input type="text" class="form-control" placeholder="username" />
                </fieldset>

                <fieldset class="form-group">
                    <input type="number" class="form-control" placeholder="Top up Amount" />
                </fieldset>

                <div class="form-group">

                    <button class="btn btn-secondary" type="submit">Topup User</button>
                   
                </div>

                


                </form>
        </div>
       
    </div>
    <!-- /.row -->
</div>
