<div [@routerTransition]>
    <h2 class="text-muted">Dashboard Overview</h2>

    <hr />
    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <app-stat [bgClass]="'primary'" [count]="26" [icon]="'fa-money'" [label]="'Top Ups'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-12">
            <app-stat [bgClass]="'warning'" [count]="12" [icon]="'fa-user'" [label]="'Sub-Admins'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-12">
            <app-stat
                [bgClass]="'success'"
                [count]="124"
                [icon]="'fa-group'"
                [label]="'Users'"
            ></app-stat>
        </div>

  
    </div>
    <hr />
   
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-default">
                <div class="card-header"><i class="fa fa-clock-o fa-fw"></i> Notifications Timeline</div>
                <!-- /.card-header -->
                <ngb-alert (close)="closeAlert(alert)" *ngFor="let alert of alerts" [type]="alert.type">{{
                    alert.message
                }}</ngb-alert>
                <hr />
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
      
        <!-- /.col-lg-4 -->
    </div>
</div>
