<div [@routerTransition]>
    <h2>Topup Account</h2>
    <div class="row">
        <div class="col-lg-6">
            <form role="form">

                <fieldset class="form-group">
                    <input disabled type="number" class="form-control" placeholder="@Username" />
                </fieldset>

                <fieldset class="form-group">
                    <input disabled type="number" class="form-control" placeholder="Balance" />
                </fieldset>

                <fieldset class="form-group">
                    <input type="number" class="form-control" placeholder="Top up Amount" />
                </fieldset>

                <div class="form-group">

                    <button class="btn btn-secondary" type="submit">Topup</button>
                   
                </div>

                


                </form>
        </div>
       
    </div>
    <!-- /.row -->
</div>
