<div [@routerTransition]>
    <h2 class="text-muted">Topup Balance</h2>

    <hr />
   <div class="row">
        <div class="col-lg-6">
            <form role="form">

                <fieldset class="form-group">
                    <input disabled type="number" class="form-control" placeholder="Top up Balance" />
                </fieldset>

                <div class="form-group">

                    <button class="btn btn-primary" type="submit">Check Balance</button>
                   
                </div>

                </form>
        </div>
       
    </div>
    <hr />
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Topup Activities
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Amount</th>
                                <th>Sender</th>
                                <th>Date</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>@mdo</td>
                                <th>$100</th>
                                <th>Admin</th>
                                <th>Date</th>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>@fat</td>
                                <th>$100</th>
                                <th>Admin</th>
                                <th>Date</th>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>@twitter</td>
                                <th>$100</th>
                                <th>Admin</th>
                                <th>Date</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
           

        </div>
    </div>
   
</div>
