<div [@routerTransition]>
    <h2>Add New User</h2>
    <app-page-header [heading]="'add-user'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">
            <form role="form">

                <fieldset class="form-group">
                    <input class="form-control" placeholder="James" />
                </fieldset>

                <fieldset class="form-group">
                    <input class="form-control" placeholder="Bond" />
                </fieldset>

                <fieldset class="form-group">
                    <input type="email" class="form-control" placeholder="james.bond@007.com" />
                </fieldset>

                <fieldset class="form-group">
                    <input type="tel" class="form-control" placeholder="+1 100000000000000" />
                </fieldset>
                <fieldset class="form-group">
                    <select disabled class="form-control">
                        <option>User</option>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Home Address"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <input type="number" class="form-control" placeholder="Top up Amount" />
                </fieldset>

                <div class="form-group">

                    <button class="btn btn-secondary" type="submit">Add User</button>
                   
                </div>

                


                </form>
        </div>
       
    </div>
    <!-- /.row -->
</div>
